/* Reset de estilos para garantir consistência em diferentes navegadores */
body,
h1,
h2,
p,
ul,
li,
form,
input,
img,
footer {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #333;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article {
    margin-bottom: 20px;
}

.contact-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

.biotech-image {
    text-align: center;
    margin: 20px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
